<main>
    <h1>About Wine</h1>
    <div class="about">
        <p>
            <i>"Wine"</i> is a place, where you can browse some of the imported wines which can be bought in Bulgaria
            and add
            some new wines that
            you like. This application was created as an exercise for the <a
                href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
            <a href="https://softuni.bg/">Software University</a>.
        </p>
    </div>
</main>