<main>
    <h1>Create</h1>
    <div class="form">
        <form action="/wine/create" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="origin">Origin</label>
            <input type="text" id="origin" name="origin">
            <label for="type">Type</label>
            <select id="type" name="type">
                <option value="Red">Red</option>
                <option value="White">White</option>
                <option value="Rose">Rose</option>
                <option value="Sparkling">Sparkling</option>
            </select>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl">
            <label for="rating">Market Rating</label>
            <select id="rating" name="market-rating">
                <option value="1">1 - Very Low</option>
                <option value="2">2 - Low</option>
                <option value="3">3 - Medium</option>
                <option value="4">4 - Intermediate</option>
                <option value="5">5 - High</option>
                <option value="6">6 - Very High</option>
            </select>
            <input type="submit" value="Create">
        </form>
    </div>
</main>