<div class="cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Market rating:</span> {{market-rating}}</p>
    <a class="btn" href="/wine/details/{{id}}">Details</a>
</div>