<main>
    <h1>Login Form</h1>
    <div class="form">
        <form method="POST">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" value="{{userData.username}}">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="{{userData.password}}">
            <input type="submit" value="Login">
        </form>
    </div>
</main>